.quiz-detail-container {
    padding: 1% 20% 1% 20%;
}
.quiz-detail-container h1 {
    color: var(--primary-color);
    padding-left: 10px;
}
.quiz-detail-container img {
    width: 100%;
    /*padding: 1% 20%;*/
    margin: 5px;
    align-content: center;
}

.pergunta-container {
    border: 5px solid var(--secondary-color);
    border-radius: 30px;
    padding: 0 3%;
    margin: 5% 0;
}

.container-disabled {
    pointer-events: none;
    opacity: 0.7;
}

.alternativas-list {
    border-top: 5px solid var(--secondary-color);
}

.alternativa-container {
    padding: 1px 0;
    background-color: var(--light-color);
    margin: 2% 0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
.alternativa-container:hover {
    padding: 1px 0;
    background-color: var(--secondary-color);
    color: white;
    margin: 2% 0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
.alternativa-container-selected {
    padding: 1px 0;
    background-color: var(--secondary-color);
    color: white;
    margin: 2% 0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
.alternativa-container p {
    padding: 0 10px;
    font-size: 16px;
}

.header-pergunta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.button-undo {
    border: solid 1px var(--secondary-color);
    border-radius: 10px;
    background: var(--more-light-color);
    width: 49px;
    height: 50px;
    font-size: 30px;
    color: var(--secondary-color);
    margin: 10px;
    cursor: pointer;
}
.show-result {
    display: flex;
    justify-content: center;
}
.button-show-result {
    border: solid 1px var(--secondary-color);
    border-radius: 50px;
    background: var(--more-light-color);
    font-size: 30px;
    color: var(--secondary-color);
    margin: 10px;
    cursor: pointer;
    padding: 10px 100px;
    align-self: center;
}


.button-show-result:disabled {
    filter: brightness(0.7);
    cursor: not-allowed;
}

.card-resultado {
    width: 70%;
    border: 3px solid var(--secondary-color);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    text-align: center;
}
.card-resultado-title{
    border-bottom: 3px solid var(--secondary-color);
    width: 100%;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-decoration: var(--secondary-color);
    font-size: 20px;
}

.card-resultado-title-bottom{
    border: 3px solid var(--secondary-color);
    background: var(--more-light-color);
    border-radius: 50px;
    width: 100%;
    margin-top: 30px;
    text-transform: uppercase;
    text-decoration: var(--secondary-color);
    font-size: 30px;
}

.img-resultado {
    width: 80%;
}
